@{
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Access Denied</h1>
    <p>You are not authorized to access this resource.</p>
    <a class="btn btn-secondary" asp-controller="Events" asp-action="Index"><i class="bi bi-arrow-left-circle"></i> &nbsp; Back to List</a>
</div>
